@import "../../style-config//mixins.scss";

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #35424a;
  color: #ffffff;
  padding: 20px;
  text-align: center;
  width: 100%;
   @include small-screen{
     padding: 10px;
   }
  .social-media {
    margin-bottom: 20px;
    @include small-screen{
      margin-bottom: 10px;
     }

    a {
      color: #ffffff;
      font-size: 24px;
      margin: 0 10px;
      text-decoration: none;
       @include small-screen{
         font-size: 20px;
      }

      &:hover {
        color: #007bff;
      }
    }
  }

  .copyright {
    font-size: 16px;
    font-weight: 300;
  }
}
